:root {
  --color-default: #ffffff;
  --color-primary: #ff1510;
  --color-secondary: #fdecec;
  --color-light: #e7f6e7;
  --color-typo-primary: #fa7f7f;
  --color-typo-strong: #404040;
  --color-typo-medium: #8c8c8c;
  --color-typo-light: #b9b9b9;
}
