.hero-details-page {
  background: var(--color-light);
  padding: 0 1.25%;
}

.hero-details-header {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.hero-details-header .search-wrapper {
  margin-left: 60px;
  margin-top: 14px;
}

.hero-details-page .hero-details {
  margin: 60px 0;
}

.releases-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 36px 0;
  width: 100%;
}

.last-releases__title {
  color: var(--color-typo-strong);
  font-size: 24px;
  font-weight: 600;
}
